<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
    <div class="container my-5">
        <h2 class="text-center mb-4">Task Details</h2>
        <div class="todo-container mx-auto">
            <form action="{{ url_for('store') }}" method="POST" class="mt-4">
                <div>
                    <p><strong>ID:</strong> {{task.ID}}</p>
                    <p><strong>Title:</strong> {{ task.NAME }}</p>
                    <p><strong>Description:</strong> {{ task.DESCRIPTION }}</p>
                    <p><strong>Status:</strong> {{ 'Completed' if task.STATUS else 'Incomplete' }}</p>
                </div>
            </form>

            <form action="{{ url_for('edit', task_id=task.ID) }}" method="GET" class="d-inline">
                <button type="submit" class="btn btn-primary btn-sm" title="Edit Task">
                    Edit Task <i class="fas fa-edit"></i>
                </button>
            </form>

            <form action="{{ url_for('delete', task_id=task.ID) }}" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger btn-sm" title="Delete Task">
                    Delete Task <i class="fas fa-trash-alt"></i>
                </button>
            </form>

            <a href="/" class="d-block text-center mt-4">
                <button class="back-home-btn">Back to Home</button>
            </a>
        </div>
    </div>
</body>
</html>
